{% extends 'src/views/partials/layout.njk' %}
{% block content %}
   <div class="row">
    {% for character in characters %}
    <div class="col-3">

      <div class="card">
        <img src="{{ character.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
          <p class="card-text"></p>
          <a href="/{{character.id}}.html" class="btn btn-primary">Details</a>
        </div>
      </div>

      </div>
      {% endfor %}
    </div>
{% endblock %}